@darkred: #c0392b;
@lightred: #e74c3c;

@darkgrey: #7f8c8d;
@lightgrey: #bdc3c7;

@darkblue: #2c3e50;
@lightblue: #2980b9;

@darkorange: #d35400;
@lightorange: #e67e22;

@darkgreen: #27ae60;
@lightgreen: #2ecc71;

@darkturq: #16a085;
@lightturq: #1abc9c;

@darkpurple: #8e44ad;
@lightpurple: #9b59b6;

@cloudwhite: #ecf0f1;
@silverwhite: #bdc3c7;
