template(name="pageone")
  h3 Page one

  .row.fb-wrap
    .fb-page(data-href="#{facebookpage}" data-width="500" data-height="600" data-hide-cover="false" data-show-facepile="false" data-show-posts="true")
