template(name="frontpage")  
  div(role="tabpanel")
    ul.tabs.nav.nav-tabs(role="tablist" id="myTab")
      li.tab.active(role="presentation")
        a(href="#content1" aria-controls="content1" role="tab" data-toggle="tab").active
          h6 Featured
            .fa.fa-heart
        
      li.tab(role="presentation")
        a(href="#content2" aria-controls="content2" role="tab" data-toggle="tab") 
          h6 Mest lest
            .fa.fa-start
          
        
      li.tab(role="presentation")
        a(href="#content3" aria-controls="content3" role="tab" data-toggle="tab") 
          h6 kategorier 
            .fa.fa-list-ul
        
        
      li.tab(role="presentation")
        a(href="#content4" aria-controls="content4" role="tab" data-toggle="tab") 
          h6 Arkiv
            .fa.fa-archive
  .tab-content
    #content1.tab-innhold.tab-pane.fade.in.active(role="tabpanel")
      +bloglayout

    #content2.tab-innhold.tab-pane.fade(role="tabpanel")
      p Vestibulum sed dapibus mi, sodales vestibulum tortor. Mauris pretium nec tortor nec pulvinar. Praesent urna elit, iaculis non consectetur eget, maximus sed enim. Nam porttitor risus ligula, quis auctor quam auctor vel. 
      p facilisi. Maecenas tincidunt ornare turpis, id tincidunt sem varius sed. Duis semper dui in pellentesque fermentum. Integer vitae ex congue, vulputate tortor at, tristique purus. Integer volutpat at magna sed malesuada. In vitae eros vel arcu cursus tempor. Nulla sed lectus ut tellus mollis ultricies et ac velit.      

      p facilisi. Maecenas tincidunt ornare turpis, id tincidunt sem varius sed. Duis semper dui in pellentesque fermentum. Integer vitae ex congue, vulputate tortor at, tristique purus. Integer volutpat at magna sed malesuada. In vitae eros vel arcu cursus tempor. Nulla sed lectus ut tellus mollis ultricies et ac velit.      

      h5.price 
        i.fa.fa-money 
        b Price:
        i 100 
        i.fa.fa-euro

    #content3.tab-innhold.tab-pane.fade(role="tabpanel")
      p Nullam elit magna, tincidunt eu convallis non, fermentum ut ligula.
      p facilisi. Maecenas tincidunt ornare turpis, id tincidunt sem varius sed. Duis semper dui in pellentesque fermentum. Integer vitae ex congue, vulputate tortor at, tristique purus. Integer volutpat at magna sed malesuada. In vitae eros vel arcu cursus tempor. Nulla sed lectus ut tellus mollis ultricies et ac velit.      

      h5.price 
        i.fa.fa-money 
        b Price:
        i 50 
        i.fa.fa-euro

    #content4.tab-innhold.tab-pane.fade(role="tabpanel")
      p facilisi. Maecenas tincidunt ornare turpis, id tincidunt sem varius sed. Duis semper dui in pellentesque fermentum. Integer vitae ex congue, vulputate tortor at, tristique purus. Integer volutpat at magna sed malesuada. In vitae eros vel arcu cursus tempor. Nulla sed lectus ut tellus mollis ultricies et ac velit.      
