template(name="pagetwo")
  h3 Page 2
  iframe.embed-responsive-item(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2967.1528429569967!2d-87.6908912!3d41.954052!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fb1691645e1af%3A0x50945bf0205e63a5!2sIL-19%2C+Illinois%2C+USA!5e0!3m2!1sen!2sno!4v1428188162824" frameborder="0")

  .entry
    p facilisi. Maecenas tincidunt ornare turpis, id tincidunt sem varius sed. Duis semper dui in pellentesque fermentum. Integer vitae ex congue, vulputate tortor at, tristique purus. Integer volutpat at magna sed malesuada. In vitae eros vel arcu cursus tempor. Nulla sed lectus ut tellus mollis ultricies et ac velit.
