template(name='single')
  article.row.entry
    div.meta
      span
        b Publisert: 
      span #{post.savedAt.toLocaleString}
      
    div.col-md-4
      div.thumb
        img(src="#{post.post_thumb}")
    div.col-md-6
      div.content
        | {{{post.post_text}}}
  
  div#comments
    p comments
  
  form#submitComment
    .form-group
      label Navn *
      input.form-control(type='text', name='name')
      
    .form-group
      label E-post *
      input.form-control(type='email', name='email')
      
    .form-group
      label Text *
      textarea.form-control(name='message')
      
    .form-group
      input.btn.btn-default(type='submit' value='send')
      
