template(name="hosting")
  h3 hosting
    h5 Her kommer info om:
    P Domene og kjøp/flytting av domene
    p Hosting og betaling
    p Info om dataforbruk/webtrafikk

template(name="editpages")
  h3 Sider
    h5 Her kommer info om:
    P Liste over sider
    p Mulighet til å legge til flere sider via en standard mal
