template(name="dashboardmenu")
  div.dashboardmenueverywhere.samfix
    a(href="/") Go to front page
    a(href="/dashboard") Go to dashobard
    button.bt-logout Log out
    
template(name="dashboard_opperators")
  .dashboardmenu
    button.btn.userplatform-delete delete
    input.btn.btn-save(type="submit" value="save")
    
